---
title: Welcome to Middleman
layout: homepage
---

%ul.bxslider
  %li= image_tag "https://place-hold.it/500x335", title: "Welcome to the Blankity Blank Lab"
  %li= image_tag "https://place-hold.it/500x335", title: "Welcome to the Blankity Blank Lab"